.cards-wrapper {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row wrap;
    width: 100%;

}

.cards-wrapper ul {
    list-style-type: none;
}

.card {
    display: flex;
    flex-flow: column wrap;
    background-color: #fff;
    padding: 16px;
    max-width: 300px;
    gap: 8px;
    margin: 16px;
    border: 2px solid #fefff8;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
    border-radius: 8px;
}
.card img
{
    width: 160px;
    height: auto;
    border-radius: 8px;
}

.card p
{
    text-align: center;
}

.card a
{
    color: #000;
    text-decoration: none;

}

.card a:hover
{
    text-decoration: underline;
}
