.header
{
    width: 100%;
    height: 100%;
    grid-area: header;
    background-color: #b1a282;
    color: #000;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}