body
{
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "navbar navbar navbar"
        "sidebar main main"
        "footer footer footer"
    ;
}

.navigation-bar
{
    grid-area: navbar;
    background: pink;
}

#sidebar
{
    grid-area: sidebar;

}

#main
{
    grid-area: main;
    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-rows: 40% 60%;
    grid-template-areas:
        "featured featured featured"
        "cards  cards cards"
        "cards  cards cards"
    ;
    background: red;
}

#featured
{
    grid-area: featured;
    background: yellowgreen;
}

.cards-wrapper
{
    background-color: cadetblue;
    grid-area: cards;
}



.footer
{
    grid-area: footer;
    background: green;
}