#sidebar
{
    display: flex;
    background-color: #aaa;
    justify-content: center;
    font-weight: 600;
    font-style: italic;
}

#sidebar a
{
    text-decoration: none;
    color: #fff;
}

#sidebar a:hover
{
    text-decoration: underline;
}

#sidebar ul
{
    list-style-type: none;
}