#sidebar
{
    display: flex;
    background-color: #aaa;
    justify-content: center;
    font-weight: 600;
    font-style: italic;
    padding: 20%;
}

#sidebar a
{
    text-decoration: none;
    color: #555;
}

#sidebar a:hover
{
    text-decoration: underline;
}

#sidebar ul
{
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    list-style-type: none;

}

#sidebar ul li
{

}