@import url(layout.css);
@import url(navbar.css);
@import url(header.css);
@import url(sidebar.css);
@import url(main.css);
@import url(cards.css);
@import url(footer.css);

*
{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    background-color: #ddcaa1;
    color: #fff;
    position: relative;
}